*{
  font-family: 'Press Start 2P', cursive;
  color: white;
}
body {
  background: url(../images/cave.png);
}
h1 {
  text-align: center;
color: white;
font-family: 'Press Start 2P', cursive;


}

.border{
  
  display: block;
  margin: 0 auto;
  padding-bottom: 1%;
  border-style: solid;
  border-width: 29px 33px;
  -moz-border-image: url(../images/gem_frame1.png) 29 33 round;
  -webkit-border-image: url(../images/gem_frame1.png) 29 33 round;
  -o-border-image: url(../images/gem_frame1.png) 29 33 round;
  border-image: url(../images/gem_frame1.png) 29 33 fill round;
  background-color: #2B271F;
}
.main {
  background-color: #2B271F;
  color: whITE;
  margin: 0 auto;
  text-align: center;
  width: 98%;
  padding: 1%;
  font-family: 'Press Start 2P', cursive;
  
}

#btn1 { 
  padding: 0;
  border: none;
  background: none;

}
#btn2 { 
  background: transparent;
  padding: 0;
  border: none;
  background: none;
}
#btn3 { 
  background: transparent;
  padding: 0;
  border: none;
  background: none;
}
#btn4 { 
  background: transparent;
  padding: 0;
  border: none;
  background: none;
}

#btn1 img {
  display: block;
  height: 130px;  
  width: 100px;
}
#btn2 img {
  display: block;
  height: 130px;  
  width: 100px;
}#btn3 img {
  display: block;
  height: 130px;  
  width: 100px;
}#btn4 img {
  display: block;
  height: 130px;  
  width: 100px;
}

#gem1Value {
padding: 1%;
display: flex;
  justify-content: center;
  
}

.flex-container {
  display: flex;
  justify-content: center;
 

}

#guessTo {
  display: flex;
  justify-content: center;
  padding: 1%;
  text-align: center;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 98%;
    padding: 1%;
    color: white;
    text-align: center;
 
 
}

#counter1, #counter2 {
  padding: 1%;
  display: flex;
    justify-content: center;
}

